EqtyPMS/Service References/PMSReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61157/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61157/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61157/Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ExecuteSQLData_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSQLData" />
  </wsdl:message>
  <wsdl:message name="IService_ExecuteSQLData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSQLDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertTransactionData_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTransactionData" />
  </wsdl:message>
  <wsdl:message name="IService_InsertTransactionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTransactionDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSQLData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSQLData" />
  </wsdl:message>
  <wsdl:message name="IService_GetSQLData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSQLDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ExecuteSQLData" message="tns:IService_ExecuteSQLData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ExecuteSQLDataResponse" message="tns:IService_ExecuteSQLData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTransactionData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertTransactionData" message="tns:IService_InsertTransactionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertTransactionDataResponse" message="tns:IService_InsertTransactionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSQLData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSQLData" message="tns:IService_GetSQLData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSQLDataResponse" message="tns:IService_GetSQLData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLData">
      <soap:operation soapAction="http://tempuri.org/IService/ExecuteSQLData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTransactionData">
      <soap:operation soapAction="http://tempuri.org/IService/InsertTransactionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSQLData">
      <soap:operation soapAction="http://tempuri.org/IService/GetSQLData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:61157/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>